# commands
invoke==2.2.0

# pre-commit
pre-commit==4.1.0

# testing
pytest==8.0.0
coverage==7.6.9

# linting
ruff==0.9.0

# docs
mkdocs==1.6.1
mkdocs-material==9.5.49
mkdocstrings-python==1.13.0

# other
loguru==0.7.3


# API
fastapi==0.103.0        # Framework for building the API
uvicorn==0.23.2         # ASGI server to run FastAPI
numpy==1.26.0           # For numerical operations in the API
joblib==1.4.2           # For loading machine learning models
